* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

button {
	border: none;
	background: transparent;
	cursor: pointer;
}

button,
input {
	border: none;
	border-radius: 5px;
	font-family: inherit;
}

input:focus,
button:focus {
	outline: none;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Noto Sans KR", sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.todoContainer {
	width: 60vw;
	height: 600px;
	background: #ddd;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.userInput {
	display: flex;
}

input {
	display: block;
	width: 300px;
	height: 40px;
	padding: 0 10px;
	font-size: 16px;
	line-height: 40px;
	margin-bottom: 5px;
}

.userInput .addBtn {
	width: 100px;
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 18px;
	background: #f7f7f7;
}

.userInput .addBtn:hover {
	background: #fff;
}

.todolistContainer {
	width: 80%;
	height: 60%;
	overflow-y: auto;
	border-radius: 5px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.todolistContainer::-webkit-scrollbar {
	display: none;
}

.todolistContainer li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	background: #f7f7f7;
	position: relative;
	padding-right: 30px;
	margin-bottom: 5px;
}

.todolistContainer span {
	height: 100%;
	padding: 10px 20px;
}

.todolistContainer span:last-of-type {
	min-width: 144px;
	color: #555;
}

.todolistContainer .deleteBtn {
	position: absolute;
	top: 50%;
	right: 10px;
	font-size: 20px;
	color: #bbb;
	transform: translateY(-50%);
	transition: 0.4s ease;
}

.todolistContainer .deleteBtn:hover {
	color: tomato;
	transform: translateY(-50%) scale(1.1);
}
